.home {
    background-color: #424242;
    display: flex;
    flex-direction: column;

    .actions {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .categories {
            display: flex;
            justify-content: space-between;
            width: auto;
        }

        .sort {
            margin: 0 10px;

            label {
                color: white;
            }

            select {
                background-color: #424242;
                border-color: #424242;
                color: white;
            }
        }
    }
}
