.title {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;

    button {
        background-color: transparent;
        border: transparent;
        color: white;
        cursor: pointer;
    }
}

form {
    display: flex;
    flex-direction: column;
    color: #F65261;

    .action-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;

        .reset {
            color: #F65261;
            border: solid;
            background-color: transparent;
            margin-right: 10px;
        }

        .submit {
            background-color: #F65261;
            color: white;
            height: auto;
        }
    }

    .form-field {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        input, textarea {
            background-color: #424242;
            color: white;
            margin-top: 5px;
        }

        input::placeholder {
            color: #525252;
        }

        select {
            background-color: #424242;
            color: white;
            margin-top: 5px;
        }

        textarea::placeholder {
            color: #525252;
        }
    }
}
