.movies {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 10px;
}

p {
    color: white;
    font-size: large;
    margin: 20p 20px;
}

h5 {
    color: white;
    font-size: xx-large;
    margin: auto;
}
